{
  "project_info": {
    "project_number": "1027861368576",
    "project_id": "jarvis-ai-f4d47",
    "storage_bucket": "jarvis-ai-f4d47.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:1027861368576:android:89f2b1dbd59d7ed3172de5",
        "android_client_info": {
          "package_name": "com.group8.jarvis.ai"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyDcqf2jrkoLPt8SBtAVcZjr7g-UViATV44"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}